.participate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  margin-bottom: 20px;
}

.open-answer,
.radio-container {
  margin-top: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container input {
  margin-right: 5px;
}

.btn-primary {
  background-color: #3498db;
  border: none;
}

.btn-primary:hover {
  background-color: #2980b9;
}
